body {
  background-color: #373e57;
  font-family: "Barlow", sans-serif;
  font-size: 62.5%;
  color: white;
  overflow: hidden;
}

.app {
  background-color: #252836;
  display: flex;
  max-width: 1600px;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}

/**
* sidebar
**/
/* sidebar */
.sidebar {
  width: 104px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #1f1d2b;
  padding: 24px;
  border-radius: 0 16px 16px 0;
  z-index: 1;
}
.sidebar__logo {
  background: linear-gradient(180deg, #ea9769 0%, #ea6969 100%);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 6px;
}
.sidebar__logo--link svg {
  padding: 8px;
  width: 40px;
  height: 40px;
}
.sidebar__logo--link svg path {
  fill: #ffffff;
}
.sidebar__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
  margin: 46px 0;
  position: relative;
  z-index: 2;
}
.sidebar__menu--link {
  padding: 16px;
  border-radius: 8px;
  transition: all 0.5s ease-in;
}
.sidebar__menu--link svg {
  width: 24px;
  height: 24px;
}
.sidebar__menu--link svg path {
  fill: #ea7c69;
}
.sidebar__menu--link:hover {
  background-color: #ea7c69;
  box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
}
.sidebar__menu--link:hover svg path {
  fill: #ffffff;
}
.sidebar__logout {
  padding: 16px;
  border-radius: 8px;
  transition: all 0.5s ease-in;
}
.sidebar__logout--link svg {
  width: 24px;
  height: 24px;
}
.sidebar__logout--link svg path {
  fill: #ea7c69;
}
.sidebar__logout:hover {
  background-color: #ea7c69;
  box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
}
.sidebar__logout:hover svg path {
  fill: #ffffff;
}

.menu-active {
  background-color: #ea7c69;
  border-radius: 8px;
}
.menu-active svg path {
  fill: #ffffff;
}

/* pattern */
.pattern {
  position: absolute;
  width: 92px;
  height: 80px;
  top: -12px;
  left: -12px;
  background: #252836;
  border-radius: 12px 0px 0px 12px;
  z-index: -1;
}

/* pattern */
.pattern {
  top: 150px;
}

.column1 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 24px;
}

.header {
  width: 100%;
  border-bottom: 1px solid #393c49;
  padding-bottom: 24px;
  margin-bottom: 24px;
}
.header__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  color: #ffffff;
  margin-bottom: 4px;
}
.header__time {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #abbbc2;
}

.card__list {
  display: flex;
  margin-bottom: 24px;
}
.card__item {
  flex-grow: 1;
  padding: 16px;
  margin-right: 24px;
  background-color: #1f1d2b;
  border-radius: 8px;
}
.card__item:first-child .card__header--icon svg circle {
  stroke: #9288e0;
}
.card__item:first-child .card__header--icon svg path {
  fill: #9288e0;
}
.card__item:nth-child(2) .card__header--icon svg path {
  fill: #ffb572;
}
.card__item:last-child {
  margin-right: 0;
}
.card__item:last-child .card__header--icon svg path {
  fill: #65b0f6;
}
.card__header {
  display: flex;
  margin-bottom: 8px;
}
.card__header--icon {
  padding: 7px;
  background-color: #252836;
  border-radius: 8px;
  margin-right: 12px;
}
.card__header--icon svg {
  width: 24px;
  height: 24px;
}
.card__header--status {
  display: flex;
  align-items: center;
}
.card__avg {
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  margin-right: 6px;
}
.card__icon {
  padding: 2px;
  border-radius: 20px;
}
.card__icon svg {
  width: 14px;
  height: 14px;
}
.card__icon svg path {
  fill: #50d1aa;
}
.card__sumBill {
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  color: #ffffff;
  margin-bottom: 8px;
}
.card__desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #abbbc2;
}

.increase .card__avg {
  color: #50d1aa;
}
.increase .card__icon {
  background-color: rgba(136, 224, 145, 0.24);
}
.increase .card__icon svg path {
  fill: #50d1aa;
}

.decrease .card__avg {
  color: #ff7ca3;
}
.decrease .card__icon {
  background-color: rgba(255, 100, 113, 0.24);
  transform: rotate(180deg);
}
.decrease .card__icon svg path {
  fill: #ff7ca3;
}

.report {
  background-color: #1f1d2b;
  border-radius: 8px;
}
.report__header {
  border-bottom: 1px solid #393c49;
  padding: 24px 16px 0;
  width: 100%;
  background-color: #1f1d2b;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.report__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
  margin-bottom: 16px;
}
.report__category {
  width: 100%;
}
.report__category th {
  width: 25%;
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
  padding-bottom: 16px;
}
.report__category--item {
  width: 100%;
}
.report__table {
  overflow: auto;
  height: 275px;
  padding: 16px 16px;
}
.report__table::-webkit-scrollbar {
  display: none;
}
.report__list {
  width: 100%;
}
.report__item th {
  width: 25%;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #e0e6e9;
}

.menu__list {
  padding: 10px 0;
}

.column2 {
  width: 390px;
  margin: 24px 24px 24px 0;
}

.calendar {
  background-color: #1f1d2b;
  border-radius: 8px;
  margin-bottom: 17px;
}
.calendar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #393c49;
}
.calendar__current--date {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
}
.calendar__icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.calendar__icon svg {
  width: 24px;
  height: 24px;
}
.calendar__icon svg path {
  fill: #ffffff;
}
.calendar__icon--next {
  transform: rotate(270deg);
  margin-right: 12px;
  padding: 4px;
  border-radius: 50%;
  position: relative;
}
.calendar__icon--next:hover {
  background-color: #393c49;
}
.calendar__icon--next:hover svg path {
  fill: #ea7c69;
}
.calendar__icon--prev {
  transform: rotate(90deg);
  padding: 4px;
  border-radius: 50%;
}
.calendar__icon--prev:hover {
  background-color: #393c49;
}
.calendar__icon--prev:hover svg path {
  fill: #ea7c69;
}
.calendar__bottom {
  padding: 20px 20px 16px;
}
.calendar__weeks {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 12px;
}
.calendar__weeks li {
  text-align: center;
  width: 14.2857142857%;
}
.calendar__days {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  position: relative;
  align-items: center;
}
.calendar__days li {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  height: 45px;
  line-height: 45px;
  width: 14.2857142857%;
  cursor: pointer;
  z-index: 1;
  position: relative;
}
.calendar__days li::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.calendar__days li.calendar__days--active::before {
  background-color: #ea7c69;
}
.calendar__days li:not(.calendar__days--active):hover {
  color: #ffffff;
}
.calendar__days li:not(.calendar__days--active):hover::before {
  background-color: #ea7c69;
}
.calendar__inactive {
  color: #393c49;
}

.progress {
  background-color: #1f1d2b;
  border-radius: 8px;
}
.progress__header {
  padding: 20px 20px 16px;
  border-bottom: 1px solid #393c49;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
}
.progress__chart {
  padding: 20px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.progress__circle {
  width: 176px;
  height: 176px;
  background: conic-gradient(#65b0f6 288deg, #393c49 0deg);
  border-radius: 50%;
  position: relative;
}
.progress__circle--1 {
  width: calc(100% - 23px);
  height: calc(100% - 23px);
  background: conic-gradient(#ffb572 144deg, #1f1d2b 0deg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: inherit;
}
.progress__circle--2 {
  width: calc(100% - 46px);
  height: calc(100% - 46px);
  background: conic-gradient(#ff7ca3 198deg, #393c49 0deg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: inherit;
}
.progress__circle--3 {
  width: calc(100% - 69px);
  height: calc(100% - 69px);
  background-color: #1f1d2b;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: inherit;
}
.progress__circle--color {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}
.progress__item {
  display: flex;
  margin-bottom: 16px;
}
.progress__item:first-child .progress__circle--color {
  background-color: #ff7ca3;
}
.progress__item:nth-child(2) .progress__circle--color {
  background-color: #ffb572;
}
.progress__item:last-child {
  margin-bottom: 0;
}
.progress__item:last-child .progress__circle--color {
  background-color: #65b0f6;
}
.progress__info {
  margin-left: 9px;
}
.progress__info--name {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #ffffff;
  text-transform: capitalize;
}
.progress__info--num {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #abbbc2;
}

/*# sourceMappingURL=dashboard.css.map */
