body {
  background-color: #373e57;
  font-family: "Barlow", sans-serif;
  font-size: 62.5%;
  color: white;
  overflow: hidden;
}

/**
* App
**/
/* App */
.app {
  background-color: #252836;
  display: flex;
  max-width: 1600px;
  height: 100vh;
  overflow: hidden;
  border-radius: 16px;
  margin: 0 auto;
}

.column1 {
  margin: 24px;
  flex-grow: 1;
}

.column2 {
  width: 390px;
  background: #1f1d2b;
  border-radius: 0 8px 8px 0;
}

.content {
  margin: 24px;
}

.btn {
  width: 100%;
  background: #ea7c69;
  border: none;
  border-radius: 8px;
  color: #fafafa;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.overlay__show {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  animation: opacity 0.4s ease-in;
}
.overlay__hide {
  display: none;
}

@keyframes opacity {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
  margin-bottom: 34px;
}

/**
* sidebar
**/
/* sidebar */
.sidebar {
  width: 104px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #1f1d2b;
  padding: 24px;
  border-radius: 16px;
  z-index: 1;
}
.sidebar__logo {
  background: linear-gradient(180deg, #ea9769 0%, #ea6969 100%);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 6px;
}
.sidebar__logo--link svg {
  padding: 8px;
  width: 40px;
  height: 40px;
}
.sidebar__logo--link svg path {
  fill: #ffffff;
}
.sidebar__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
  margin: 46px 0;
  position: relative;
  z-index: 2;
}
.sidebar__menu--link {
  padding: 16px;
  border-radius: 8px;
  transition: all 0.5s ease-in;
}
.sidebar__menu--link svg {
  width: 24px;
  height: 24px;
}
.sidebar__menu--link svg path {
  fill: #ea7c69;
}
.sidebar__menu--link:hover {
  background-color: #ea7c69;
  box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
}
.sidebar__menu--link:hover svg path {
  fill: #ffffff;
}
.sidebar__logout {
  padding: 16px;
  border-radius: 8px;
  transition: all 0.5s ease-in;
}
.sidebar__logout--link svg {
  width: 24px;
  height: 24px;
}
.sidebar__logout--link svg path {
  fill: #ea7c69;
}
.sidebar__logout:hover {
  background-color: #ea7c69;
  box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
}
.sidebar__logout:hover svg path {
  fill: #ffffff;
}

.menu-active {
  background-color: #ea7c69;
  border-radius: 8px;
}
.menu-active svg path {
  fill: #ffffff;
}

/* pattern */
.pattern {
  position: absolute;
  width: 92px;
  height: 80px;
  top: -12px;
  left: -12px;
  background: #252836;
  border-radius: 12px 0px 0px 12px;
  z-index: -1;
}

/**
* header
**/
/* header */
.header, .confirmation__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 24px;
}
.header__title--name, .payment__header--conf, .title__conf {
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  text-transform: capitalize;
  margin-bottom: 4px;
}
.header__title--time, .payment__header--desc, .title__random {
  color: #e0e6e9;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-transform: capitalize;
}
.header__search {
  background-color: #2d303e;
  padding: 14px;
  border: 1px solid #393c49;
  border-radius: 8px;
}
.header__search--icon {
  margin-right: 8px;
  font-size: 12px;
}
.header__search--text {
  background-color: transparent;
  outline: none;
  border: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.header__search--text::placeholder {
  color: #abbbc2;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

/**
* category
**/
/* category */
.category {
  position: relative;
  margin-bottom: 24px;
}
.category__list {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  border-bottom: 1px solid #393c49;
}
.category__list--item {
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  text-transform: capitalize;
  margin-right: 32px;
  margin-bottom: 13px;
  cursor: pointer;
}
.category__active {
  color: #ea7c69;
}

/* divider */
.divider {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 37px;
  border: 3px solid #ea7c69;
  border-radius: 4px;
  background-color: #ea7c69;
  transition: left 0.3s linear;
}

/**
  * products
  **/
/* product */
.product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  grid-template-rows: repeat(2, 1fr);
  row-gap: 28px;
  column-gap: 24px;
  height: 450px;
  overflow: auto;
  justify-content: space-between;
}
.product::-webkit-scrollbar {
  display: none;
}
.product__note {
  display: flex;
  margin: 50px auto;
  font-size: 50px;
}
.product__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 24px;
  background: #1f1d2b;
  border-radius: 16px;
  width: 192px;
}
.product__item--img {
  width: 132px;
  height: 132px;
  object-fit: cover;
  border-radius: inherit;
  margin-bottom: 16px;
}
.product__item--name {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 8px;
}
.product__item--price {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
  margin-bottom: 4px;
  font-family: sans-serif;
}
.product__item--btn {
  padding: 14px 0;
  text-transform: capitalize;
}
.product__item--btn:hover {
  box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
}

/**
* content
**/
/* content */
.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.content--random {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
  margin-bottom: 24px;
}
.content--btn {
  margin-top: 42px;
  padding: 14px 0;
}
.content--btn:hover {
  box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
}

/**
* cart
**/
/* cart */
.cart {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 24px;
}
.cart__title--left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-grow: 1;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}
.cart__title-price {
  margin-left: 43px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}
.cart__list {
  height: 392px;
  border-top: 1px solid #393c49;
  border-bottom: 1px solid #393c49;
  overflow: auto;
}
.cart__list::-webkit-scrollbar {
  display: none;
}
.cart__item {
  margin: 24px 0;
}
.cart__item--top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.cart__item--bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 10px;
}
.cart__name {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.cart__name--left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.cart__img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 8px;
}
.cart__desc {
  margin-left: 8px;
}
.cart__desc--name {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #ffffff;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.cart__desc--price {
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  color: #abbbc2;
}
.cart__input {
  width: 48px;
  height: 48px;
  background: #2d303e;
  border: 1px solid #393c49;
  border-radius: 8px;
  text-align: center;
  color: #ffffff;
  margin-left: 16px;
}
.cart__input::-webkit-inner-spin-button, .cart__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart--total {
  margin: auto 0;
  margin-left: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}
.cart__bottom--input {
  flex-grow: 1;
  padding: 14px;
  background: #2d303e;
  border: 1px solid #393c49;
  border-radius: 8px;
  outline: none;
  color: #e0e6e9;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.cart__bottom--trash {
  border: 1px solid #ea7c69;
  border-radius: 8px;
  padding: 14px;
  margin-left: 16px;
  cursor: pointer;
  transition: background-color 0.4s linear;
}
.cart__bottom--trash svg {
  width: 24px;
  height: 24px;
  pointer-events: none;
}
.cart__bottom--trash svg path {
  fill: #ea7c69;
}
.cart__bottom--trash:hover {
  background-color: #ea7c69;
}
.cart__bottom--trash:hover svg path {
  fill: #ffffff;
}

/**
* total
**/
/* total */
.total {
  margin-top: 24px;
  width: 100%;
}
.total__disscount {
  margin-bottom: 16px;
}
.total__subTotal, .total__disscount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #abbbc2;
}
.total__subTotal--sum, .total__subTotal--total, .total__disscount--sum, .total__disscount--total {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}

/**
* Bill
**/
/* Bill */
.bill {
  width: 814px;
  height: 100%;
  background: #1f1d2b;
  border-radius: 16px 16px 0px 16px;
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  transition: transform 0.5s linear;
  transform: translateX(0%);
}
.bill__hide {
  transform: translateX(100%);
}

/* confirmation */
.confirmation {
  width: 50%;
  height: 100%;
  padding: 24px;
  border-right: 1px solid #393c49;
}
.confirmation__back {
  margin-bottom: 16px;
}
.confirmation__back svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.confirmation__back svg path {
  stroke: #ffffff;
}
.confirmation__header--btn {
  padding: 14px;
  background-color: #ea7c69;
  border-radius: 8px;
  cursor: pointer;
}
.confirmation__header--btn i {
  font-size: 20px;
  pointer-events: none;
}
.confirmation__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 10px;
}
.confirmation__btn--back {
  width: 50%;
  margin-right: 4px;
  border: 1px solid #ea7c69;
  border-radius: 8px;
  background-color: transparent;
  color: #ea7c69;
  padding: 14px 0;
  transition: background-color 0.4s ease-in, color 0.4s ease-in;
}
.confirmation__btn--back:hover {
  background-color: #ea7c69;
  color: #ffffff;
}
.confirmation__btn--conf {
  width: 50%;
  margin-left: 4px;
  padding: 14px 0;
}
.confirmation__btn--conf:hover {
  box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
}

/* title */
/**
* payment
**/
/* payment */
.payment {
  width: 50%;
  margin: 64px 24px 24px;
}
.payment__header {
  margin-bottom: 25px;
}
.payment__form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  border-top: 1px solid #393c49;
  border-bottom: 1px solid #393c49;
}

/**
* form
**/
/* form */
.form__title {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
}
.form__select {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.form__select--item {
  width: 101px;
  height: 64px;
  border: 1px solid #393c49;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 8px;
  cursor: pointer;
  transition: border 0.4s ease-in;
}
.form__select--item:first-child .form__select--img svg path {
  fill: #abbbc2;
}
.form__select--item:nth-child(2) .form__select--img svg path {
  stroke: #abbbc2;
}
.form__select--item:last-child .form__select--img svg path {
  fill: #abbbc2;
}
.form__select--item:hover {
  border: 1px solid #abbbc2;
}
.form__select--item:first-child:hover .form__select--img svg path {
  fill: #ffffff;
}
.form__select--item:first-child:hover .form__select--name {
  color: white;
}
.form__select--item:nth-child(2):hover .form__select--img svg path {
  stroke: #ffffff;
}
.form__select--item:nth-child(2):hover .form__select--name {
  color: white;
}
.form__select--item:last-child:hover .form__select--img svg path {
  fill: #ffffff;
}
.form__select--item:last-child:hover .form__select--name {
  color: white;
}
.form__select--img {
  pointer-events: none;
}
.form__select--img svg {
  width: 24px;
  height: 24px;
}
.form__select--name {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #abbbc2;
  pointer-events: none;
}
.form__select--active {
  border: 1px solid #abbbc2;
  position: relative;
}
.form__select--active::after {
  content: url(../images/icon/check.svg);
  position: absolute;
  top: 7px;
  right: 7px;
  background-color: #ea7c69;
  border-radius: 50%;
}
.form__select--active:first-child .form__select--img svg path {
  fill: #ffffff;
}
.form__select--active:nth-child(2) .form__select--img svg path {
  stroke: #ffffff;
}
.form__select--active:last-child .form__select--img svg path {
  fill: #ffffff;
}
.form__select--active .form__select--name {
  color: white;
}
.form__input {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  margin: 16px 0;
  width: 100%;
}
.form__input--title {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  margin-bottom: 8px;
}
.form__input--text {
  width: 100%;
  background: #2d303e;
  border: 1px solid #393c49;
  border-radius: 8px;
  padding: 14px;
  color: #e0e6e9;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  outline: none;
}
.form__input--text[type=number]::-webkit-outer-spin-button, .form__input--text[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form__input--text[type=date]::-webkit-inner-spin-button, .form__input--text[type=date]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none;
}

.type {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 16px;
  width: 100%;
}
.type__order {
  width: 50%;
  margin-right: 13px;
  position: relative;
}
.type__order:hover .type__order--select-list {
  display: block;
}
.type__order--desc {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
}
.type__order--select {
  border: 1px solid #393c49;
  border-radius: 8px;
  background: #1f1d2b;
  margin-top: 8px;
  padding: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #e0e6e9;
  cursor: pointer;
  position: relative;
}
.type__order--select i {
  margin-right: 10px;
}
.type__order--select::after {
  content: "";
  background-color: transparent;
  width: 100%;
  height: 20px;
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: 100;
}
.type__order--select-list {
  width: 100%;
  position: absolute;
  top: -125px;
  left: 0%;
  background-color: #1f1d2b;
  display: none;
}
.type__order--select-item {
  border: 1px solid #393c49;
  padding: 14px;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  transition: background-color 0.3s linear, border-color 0.3s linear;
}
.type__order--select-item:hover {
  background-color: #ea7c69;
  border-color: #ea7c69;
}
.type__order--select-item:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.type__order--select-item:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.type__table {
  flex-grow: 1;
}
.type__table--desc {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
}
.type__table--input {
  border: 1px solid #393c49;
  border-radius: 8px;
  background-color: #2d303e;
  padding: 14px;
  outline: none;
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #e0e6e9;
}
.type__table--input::-webkit-outer-spin-button, .type__table--input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/**
  * responsive
  **/
/* Large screens ----------- */
@media (min-width: 1824px) {
  .cart__list {
    height: 600px;
  }
  .product {
    height: 670px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
/* Desktops and laptops ----------- */

/*# sourceMappingURL=style.css.map */
